html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fafafa; }

html, body {
  font-family: "Play", sans-serif; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.header {
  display: none;
  background: #12254f;
  opacity: 0.87;
  padding: 0.5em;
  position: fixed;
  z-index: 5;
  width: 100%; }
  .header:hover {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  @media screen and (min-width: 551px) {
    .header {
      display: block; } }

.logo {
  text-decoration: none;
  font-size: 1.66em;
  color: white;
  padding: 0.5; }
  .logo a:hover {
    color: #f76c5f; }

.navbar {
  float: right;
  display: inline;
  z-index: 5; }
  .navbar a {
    padding: 0.5em;
    margin: 0;
    color: white;
    border-bottom: 3px solid transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s; }
    .navbar a:hover {
      border-bottom: 3px solid #f76c5f;
      -webkit-transition: border 0.2s;
      transition: border 0.2s; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #12254f url("/img/chicago1.jpg") no-repeat;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-size: cover; }
  @media screen and (max-width: 900px) {
    .intro {
      color: white; } }

.greeting {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center; }
  .greeting .highlight {
    color: #f76c5f;
    font-weight: 700; }
  .greeting .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .greeting .btn:hover {
      color: white;
      background: #12254f; }

.work {
  text-align: center;
  padding-bottom: 1em; }

.title {
  padding-top: 1.33em;
  margin-top: 2em; }
  .title h2, .title h3 {
    text-transform: uppercase;
    font-weight: 700; }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.item {
  margin-bottom: 20px; }
  .item h4 {
    font-weight: 700; }
  .item img {
    margin: 0 8px;
    max-height: 300px;
    max-width: 100%; }
  .item .info p {
    max-width: 70%;
    margin: 0 auto 10px;
    text-align: left; }
  .item .info .tags li {
    display: inline-block;
    margin: 0 3px;
    padding: 3px 8px;
    list-style-type: none;
    font-size: 0.75em;
    text-transform: uppercase;
    background: #f76c5f;
    color: white; }
  .item .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    max-width: 205px;
    display: inline-block;
    margin: 0.5em auto; }
    .item .btn:hover {
      color: white;
      background: #12254f; }
  @media screen and (max-width: 550px) {
    .item {
      width: auto; }
      .item .info img {
        height: auto;
        max-width: 100%; }
      .item .info p {
        text-align: center;
        max-width: 100%; } }
  @media screen and (min-width: 551px) {
    .item .btn {
      margin: 0 0.5em; } }

.about {
  padding-top: 1.33em;
  text-align: center; }
  .about h2, .about h3 {
    text-transform: uppercase;
    font-weight: 700; }
  .about h2, .about h4 {
    font-weight: 700; }
  .about .bio {
    padding: 4em 0; }
    .about .bio h2 {
      margin: 0.5em 0; }
    .about .bio p {
      padding: 2em 0; }
    .about .bio .highlight {
      color: #f76c5f;
      font-weight: 700; }
  .about .process {
    display: block;
    padding: 4em 0;
    background: #e4e2e2; }
    .about .process h4 {
      margin: 0.5em 0; }
    .about .process p {
      padding: 1em 0; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background: #12254f;
  color: white;
  text-align: center;
  overflow: hidden; }

.contact {
  padding-top: 1.33em; }
  .contact h2, .contact h3 {
    text-transform: uppercase;
    font-weight: 700; }
  .contact .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 2.67em;
    color: white;
    border-color: #f76c5f; }
    .contact .btn:hover {
      color: white;
      background: #12254f; }
    .contact .btn:hover {
      background: #f76c5f; }

.links {
  margin: 2.67em 0; }
  .links li {
    display: inline;
    list-style-type: none; }
  .links a {
    padding: 0.33em;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s; }
    .links a:hover {
      border-bottom: 3px solid #f76c5f;
      -webkit-transition: border 0.2s;
      transition: border 0.2s; }

.copy p {
  color: #e4e2e2;
  opacity: 0.2;
  font-weight: 700;
  margin: 0; }
