html {
  box-sizing: border-box;
  background: #fafafa; }

html h1, html h2, html h3, html h4, html h5, html h6, html p, html a, html figcaption, body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body figcaption {
  font-family: "Play", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

.header {
  display: none;
  background: #12254f;
  opacity: 0.87;
  padding: 0.5em;
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: opacity 0.2s; }
  .header:hover {
    opacity: 1; }
  @media screen and (min-width: 551px) {
    .header {
      display: block; } }

.logo {
  text-decoration: none;
  font-size: 1.66em;
  color: white;
  padding: 0.5; }
  .logo a:hover {
    color: #f76c5f; }

.navbar {
  float: right;
  display: inline;
  z-index: 5; }
  .navbar a {
    padding: 0.5em;
    margin: 0;
    color: white;
    border-bottom: 3px solid transparent;
    transition: border 0.2s; }
    .navbar a:hover {
      border-bottom: 3px solid #f76c5f;
      transition: border 0.2s; }

.intro {
  height: 100vh;
  background: #12254f url("/img/chicago1.jpg") no-repeat;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-size: cover; }
  @media screen and (max-width: 900px) {
    .intro {
      color: white; } }

.heading {
  display: table;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.33em; }

.greeting {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center; }
  .greeting .highlight {
    color: #f76c5f;
    font-weight: 700; }
  .greeting .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    transition: background 0.2s, color 0.2s; }
    .greeting .btn:hover {
      color: white;
      background: #12254f;
      transition: background 0.2s, color 0.2s; }

.work {
  text-align: center;
  padding-bottom: 3em; }

.title {
  padding-top: 1.33em;
  margin-top: 2em; }
  .title h2, .title h3 {
    text-transform: uppercase;
    font-weight: 700; }

.flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }
  .flexbox .item img {
    max-width: 310px; }
  .flexbox .item figcaption {
    padding: 1em; }
    .flexbox .item figcaption h4 {
      font-weight: 700; }
  .flexbox .tags li {
    display: inline-block;
    padding: 3px 8px;
    list-style-type: none;
    font-size: 0.75em;
    text-transform: uppercase;
    background: #f76c5f;
    color: white; }
  .flexbox .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    transition: background 0.2s, color 0.2s;
    max-width: 205px; }
    .flexbox .btn:hover {
      color: white;
      background: #12254f;
      transition: background 0.2s, color 0.2s; }
  @media screen and (min-width: 551px) {
    .flexbox .item img {
      max-width: 500px; } }
  @media screen and (min-width: 768px) {
    .flexbox .item img {
      max-width: 700px; } }

.about {
  padding-top: 1.33em;
  text-align: center; }
  .about h2, .about h3 {
    text-transform: uppercase;
    font-weight: 700; }
  .about h2, .about h4 {
    font-weight: 700; }
  .about .bio {
    padding: 4em 0; }
    .about .bio h2 {
      margin: 0.5em 0; }
    .about .bio p {
      padding: 2em 0; }
    .about .bio .highlight {
      color: #f76c5f;
      font-weight: 700; }
  .about .process {
    display: block;
    padding: 4em 0;
    background: #e4e2e2; }
    .about .process h4 {
      margin: 0.5em 0; }
    .about .process p {
      padding: 1em 0; }

.footer {
  height: 100vh;
  width: 100%;
  background: #12254f;
  color: white;
  text-align: center; }

.table {
  display: table;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.33em; }
  .table .row {
    display: table-cell;
    vertical-align: middle; }

.contact {
  padding-top: 1.33em; }
  .contact h2, .contact h3 {
    text-transform: uppercase;
    font-weight: 700; }
  .contact .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #12254f;
    border: 4px solid #12254f;
    padding: 0.67em 3.33em;
    transition: background 0.2s, color 0.2s;
    margin-top: 2.67em;
    color: white;
    border-color: #f76c5f; }
    .contact .btn:hover {
      color: white;
      background: #12254f;
      transition: background 0.2s, color 0.2s; }
    .contact .btn:hover {
      background: #f76c5f; }

.links {
  margin: 2.67em 0; }
  .links li {
    display: inline;
    list-style-type: none; }
  .links a {
    padding: 0.33em;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border 0.2s; }
    .links a:hover {
      border-bottom: 3px solid #f76c5f;
      transition: border 0.2s; }

.copy p {
  color: #e4e2e2;
  opacity: 0.2;
  font-weight: 700;
  margin: 0; }
