.footer
	height: 100vh
	width: 100%
	background: $blue
	color: white
	text-align: center
	// overflow: hidden

.table
	+table
	.row
		display: table-cell
		vertical-align: middle

.contact
	+title
	.btn
		+button
		margin-top: 2.67em
		color: white
		border-color: $red
		&:hover
			background: $red

.links
	margin: 2.67em 0
	li
		display: inline
		list-style-type: none
	a
		padding: 0.33em
		color: white
		text-decoration: none
		border-bottom: 3px solid transparent
		transition: border 0.2s
		&:hover
			border-bottom: 3px solid $red
			transition: border 0.2s

.copy
	p
		color: $grey
		opacity: 0.2
		font-weight: 700
		margin: 0
