.intro
	height: 100vh
	background: $grey

.heading
	+table

.greeting
	display: table-cell
	vertical-align: middle
	padding: 10px
	text-align: center
	.highlight
		color: $red
		font-weight: 700
	.btn
		+button
		// IDEA: Maybe make this grow larger when hovered
